{% extends 'home/base.html' %}



{% block title %}
All Blogs
{% endblock %}





{% block content %}




<div class="container mt-5">





<h1 class="text-center fw-bold mb-5">

📝 All Blog Posts

</h1>





<!-- Search -->

<div class="row justify-content-center mb-5">


<div class="col-md-8">


<form method="GET">


<div class="input-group">


<input type="text"
       name="q"
       class="form-control"
       placeholder="Search blogs..."
       value="{{ query|default:'' }}">



<button class="btn btn-primary">

🔍 Search

</button>



</div>


</form>


</div>


</div>







<div class="row">





{% for post in posts %}





<div class="col-md-4 mb-4">





<div class="card shadow h-100">





{% if post.image %}


<img src="{{ post.image.url }}"
     class="card-img-top"
     style="height:250px; object-fit:cover;">


{% else %}


<img src="https://via.placeholder.com/400x250"
     class="card-img-top">



{% endif %}







<div class="card-body">





<h4 class="fw-bold">

{{ post.title }}

</h4>







<p class="text-muted">


👤 {{ post.author.username }}

<br>


📅 {{ post.created_at|date:"F d, Y" }}


</p>







<p>


{{ post.content|truncatewords:25 }}


</p>







<a href="/blog/{{ post.id }}/"
   class="btn btn-primary">

Read More →

</a>






</div>





</div>





</div>







{% empty %}



<div class="text-center">


<h4>

No blog posts found.

</h4>


</div>




{% endfor %}





</div>






</div>





{% endblock %}