body{
    background:#f8f9fa;
    font-family:'Segoe UI', Arial, Helvetica, sans-serif;
}


/* Hero Section */

.hero{
    padding:80px 20px;
}


.hero h1{
    color:#212529;
}


.hero p{
    font-size:20px;
}


/* Hero Image */

.hero img,
img[alt="Django"]{
    border-radius:20px;
    transition:0.4s;
}


.hero img:hover,
img[alt="Django"]:hover{
    transform:scale(1.05);
}



/* Cards */

.card{
    border:none;
    border-radius:20px;
    transition:0.3s;
    overflow:hidden;
}


.card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 30px rgba(0,0,0,0.15)!important;
}


.card-body{
    padding:35px;
}


.card h3{
    font-weight:bold;
}



/* Buttons */

.btn{
    border-radius:30px;
    padding-left:25px;
    padding-right:25px;
}



/* Navbar */

.navbar-brand{
    font-size:28px;
    font-weight:bold;
}


.nav-link{
    font-size:18px;
    margin-left:10px;
}


.nav-link:hover{
    color:#ffc107!important;
}



/* Footer */

footer{
    margin-top:80px;
}



/* Slider */

.carousel img{
    height:500px;
    object-fit:cover;
    border-radius:20px;
}



/* Mobile */

@media(max-width:768px){

    .hero{
        text-align:center;
        padding:40px 10px;
    }


    .hero h1{
        font-size:40px;
    }


    .carousel img{
        height:250px;
    }

}